html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

.intro__bcg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro__bcg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__inner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);
}

.intro__logo {
  margin-bottom: 32px;
}

.logo__icon_intro {
  width: 160px;
}

.logo__text {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}

.link {
  width: 182px;
  height: 44px;
  box-sizing: border-box;
  padding: 12px 20px;
  border: 3px solid #ec1e79;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #ec1e79;
}
